* {
    font-family: Arial, sans-serif;
    color: white;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: inherit;
    margin: 0;
    background-color: #323232;
}

/*
 * Navigation menu style
 */

nav, nav.desktop {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 13rem;
    background-color: #3E3455;
    position: fixed;
    padding-bottom: 1.5rem;
}

nav.mobile {
    height: 3rem;
    width: -webkit-fill-available;
    text-align: center;
    margin: 0;
    padding: 1% 2%;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

nav.mobile-full {
    height: 100%;
    width: 15rem; 
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}

nav img {
    height: 10%;
    padding: 5% 5% 0 5%;
}

nav img.menu-profile-image {
    width: 1.5rem;
    height: auto;
    border-radius: 50%;
    padding: 0;
    object-fit: cover;
    vertical-align: middle;
    margin: 0 0.3em 0.3rem 0;
}

nav ul {
    list-style: none;
    height: 80%;
    padding: 0 5%;
}

nav li {
    height: 5%;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5% 0;
    padding: 4% 2% 5% 2%;
}

nav p {
    display: inline;
}

nav a:hover {
    background-color: #A2A2A2;
    color: black;
}

nav .fa-solid {
    color: white;
    font-size: 1.5em;
    margin: 0 5% 0 0;
}

.fa-bars {
    justify-self: start;
}

.fa-xmark {
    font-size: 2em;
}

.access-buttons {
    padding: 0 1rem;
    font-size: 15px;
    justify-self: end;
}

.access-buttons > form {
    display: inline-block;
    max-width: 40%;
}

.access-buttons input {
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    padding: 5px 15px;
}

a.notifIcon {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    margin: 6% 0 0 0;
    padding: 5% 2% 2% 2%;
}

a.notifIcon > p {
    margin: 0;
}

div.menu-icon-container{
    display: flex;
    align-items: center;
    width: fit-content;
}

div.menu-icon-container .notifSignal{
    position: relative;
    top: -0.5rem;
    right: 0.5rem;
    padding: 2px;
}

div.notifIcon {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

div.notifIcon .fa-bell {
    font-size: 24px;
}

div.notifIcon .notifSignal {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 2px;
}

em.notifSignal{
    font-size: 0.7rem;
    color: red;
    background-color: white;
    border-radius: 50%;
}

.notifSignal.hide{
    display: none;
}

#login > input {
    color: white;
    background-color: #098AFF;
}

#register > input, #logout > input {
    color: black;
}

main {
    text-align: center;
    width: 80%;
    margin-left: 13rem;
}

#error-msg {
    color: red;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background:#323232; 

}
::-webkit-scrollbar {
    width: 0.5em;
}

@media screen and (min-width: 800px) {
    main {
        width: 70%;
        align-self: center;
    }
}

@media screen and (min-width: 1366px) {
    main {
        width: 60%;
        align-self: center;
    }
}

@media screen and (min-width: 768px) {

    #open-menu-icon, #close-menu-icon, #menuNotifSignal {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    body {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    nav {
        height: 3rem;
        width: -webkit-fill-available;
        text-align: center;
        margin: 0;
        padding: 1% 2%;
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
    }

    #logout {
        margin-right: 1rem;
    }

    nav img {
        display: none;
        height: initial;
        width: 70%;
        max-width: 60px;
        padding-top: 10%;
    }

    nav ul {
        text-align: left;
        display: none;
        flex-direction: column;
    }

    .fa-bars {
        display: flex;
        align-self: center;
    }

    #close-menu-icon {
        display: none;
        margin: -4.5rem 0;
    }

    main {
        width: 100%;
        margin: 0;
    }

}