footer.popover-comment {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    border-top: 1px white solid;
    margin: 1rem -1rem;
    height: 30rem;
    overflow-y: scroll;
}

footer.popover-comment::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
footer.popover-comment::-webkit-scrollbar-track {
    background:#4A4A4A; 

}
footer.popover-comment::-webkit-scrollbar {
    width: 0.5em;
}

section.upper-section-comment {
    display: flex;
    flex-direction: row;
}

section.interaction-changer {
    font-size: 1.5em;
    margin: 0.5rem -1rem;
    border-bottom: 1px solid white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
}

.close-comment {
    align-self: start;
}

.close-comment:hover {
    cursor: pointer;
}

section.interaction-changer > section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.interaction-changer>section>em:hover {
    cursor: pointer;
}

.separator {
    border: 0.05rem solid white;
    height: inherit;
    margin: 0 0.5rem;
}

em.comment-changer, .like-changer-section>em.like-changer {
    color: #FFF;
}

.comment-changer-section.selected {
    border-bottom: 0.2rem solid #1D70AD;
}

.comment-changer-section.selected>em, .comment-changer-section.selected>p {
    color: #1D70AD;
}

.like-changer-section.selected {
    border-bottom: 0.2rem solid #E91E63;
}

.like-changer-section.selected>em, .like-changer-section.selected>p {
    color: #E91E63;
}

.comment-text {
    resize: none;
    width: -webkit-fill-available;
    margin: 0.3rem;
    background: #323232;
    border: 0.1rem solid white;
    font-size: 1em;
    border-radius: 18px;
    padding: 0.5rem;
    word-wrap:break-word;
}

.comment-text > a, .comment-text > a >p {
    width: fit-content;
}

section.comment-text {
    border: none;
}

.comment-text:focus {
    outline: none;
}

.comments {
    display: flex;
    flex-direction: column;
}

form {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    background: none;
    color: inherit;
    border: none;
}

label {
    display: none;
}

.picture.comment-form {
    margin: 0.3rem;
}

.fa-paper-plane {
    margin: 0.5rem;
}

.fa-paper-plane:hover {
    cursor: pointer;
}

article.people-comment, article.people-like {
    background: #323232;
    border: 0.1rem solid white;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 18px;
}

.comment-text {
    margin: 0 0.5rem;
}

.comment-text>p, .comment-text>a>p, .people-like>a>p {
    font-size: 1em;
    text-align: left;
}

.people-like>a>p {
    margin-left: 0.5rem;
}

.timestamp {
    align-self: flex-start;
    padding: 0;
    width: fit-content;
    font-size: 0.6em;
}

.likes {
    display: none;
}

article.people-like {
    background: #323232;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
}

@media screen and (max-width: 768px) {

    footer.popover-comment {
        background-color: #323232;
        position: fixed;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        top: 3rem;
        left: 0;
        display: block;
        margin: 0;
        display: flex;
        overflow-y: scroll;
    }

    .comments, .likes {
        height: 100%;
        width: -webkit-fill-available;
        overflow-y: scroll;
        padding-bottom: 9rem;
    }

    .fa-xmark {
        font-size: 2em;
    }
}