body {
    display: grid;
    grid-template-columns: 13rem auto 13rem;
}

main {
    grid-column-start: 2;
    margin: 0;
}

.timestamp {
    font-size: 0.5em;
    color: rgba(255, 255, 255, 75%);
}


@media screen and (min-width: 800px) {
    main {
        width: 40rem;
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {

    body {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
        margin: 0%;
        margin: 3rem 0 0 0;
    }

}