.list-title {
    padding: 1% 21%;
}

.list-title > h1 {
    text-align: left;
    margin-left: 2%;
    font-size: 30px;
}

main > section {
    text-align: left;
}

.preview {
    text-align: left;
    display: block;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

input[type=radio] {
    vertical-align: middle;
}

.preview-info-box {
    display: inline-block;
    height: auto;
    margin-left: 1rem;
}

.preview > a {
    text-decoration: none;
}

.picture {
    border-radius: 15%;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.preview-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.preview-title {
    font-size: 1rem;
    margin: 0.5rem 0;
    display: block;
}

.author {
    font-size: 1rem;
    opacity: 0.8;
    margin: 0.5rem 0;
    display: block;
}

.track-length {
    font-size: 0.8rem;
    opacity: 0.6;
    margin: 0;
    display: block;
}

main input[type=submit] {
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 1.5rem 0;
    align-self: center;
}

fieldset {
    vertical-align: middle;
    border-style: none;
    padding: 0;
}

legend {
    display: none;
}

@media screen and (max-width: 768px) {

    .list-title {
        margin-top: 4rem;
        margin-left: 1rem;
        padding: 0;
    }

}
