#front-logo {
    width: 12rem;
    margin-top: 3rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

input[type=text] {
    background-color: #975AA8;
    width: 20%;
    border-radius: 20px;
    border: 0;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

::placeholder {
    color: white;
}

input[type=submit] {
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0.75rem 0;
}

a {
    color: #098AFF;
}