header {
    width: 100%;
}

h1 {
    padding-top: 2rem;
    margin-top: 0;
}

#new-resource-form > ul {
    list-style: none;
    padding: 0;
}

#new-resource-form > ul > li {
    margin: 1.5rem 0;
    text-align: center;
}

#error-msg {
    color: red;
}

input[type=text] {
    background-color: #975AA8;
    width: 30%;
    border-radius: 20px;
    border: 0;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

::placeholder {
    color: white;
}

main > input[type=submit] {
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 1.5rem 0;
    align-self: center;
}

.collection-option {
    display: inline-block;
    margin-right: 0.75rem;
}

.collection-option:nth-last-of-type(1) {
    margin-right: 0;
}

input[type=radio] {
    padding: 0 1rem;
}

label {
    text-align: left;
}

label[for=title] {
    display: inline-block;
    width: 0;
    margin: 0;
    padding: 0;
}

#title {
    margin-top: 0;
}

p {
    margin-top: 0;
}

#selected-tracks {
    align-self: center;
    margin-top: 1rem;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3 {
    margin-top: 0;
}

#GenreList {
    border-radius: 1rem;
    background-color: #232323;
    width: 20rem;
    text-align: center;
    margin: 0;
    padding: 1rem;

}

#GenreList section {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

button.genre {
    background-color: #975AA8;
    color: black;
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    margin: 0.15rem;
}

button.genre em{
    margin-right: 0.5rem;
    color: black;
}

#NotSelected button.genre em{
    display: none;
}

#Selected button.genre {
    background-color: #2daf79;
}

#Selected button.genre em{
    display: inline;
}

input.genre {
    display: none;
}

