header {
    width: 100%;
}

h1 {
    padding-top: 2rem;
    margin-top: 0;
}

#new-resource-form > ul {
    list-style: none;
    padding: 0;
}

#new-resource-form > ul > li {
    margin: 1.5rem 0;
    text-align: center;
}

#error-msg {
    color: red;
}

input[type=text] {
    background-color: #975AA8;
    width: 30%;
    border-radius: 20px;
    border: 0;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

::placeholder {
    color: white;
}

main > input[type=submit] {
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 1.5rem 0;
    align-self: center;
}

.collection-option {
    display: inline-block;
    margin-right: 0.75rem;
}

.collection-option:nth-last-of-type(1) {
    margin-right: 0;
}

input[type=radio] {
    padding: 0 1rem;
}

label {
    text-align: left;
}

label[for=title] {
    display: inline-block;
    width: 0;
    margin: 0;
    padding: 0;
}

#title {
    margin-top: 0;
}

#selected-tracks {
    align-self: center;
    margin-top: 1rem;
}

