header {
    margin-top: 5rem;
}

article {
    background-color: #4A4A4A;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

article>em{
    float:right;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 2.1rem;
    width: 2.2rem;
}

article>em:hover{
    background-color: #FF5733;
    color: #813121;
    border-radius: 0.2rem;
}

article h3{
    text-align: center;
    padding-top: 1rem;
    margin: 0;
}

article a {
    text-decoration: none;
    color: lightskyblue;
}

article footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

