#song-cover {
    width: 15rem;
    margin: 5% 0 1% 0;
}

#song-title, #artist-name {
    display: block;
    color: white;
}

.progress-bar-wrapper {
    display: block;
    margin: 1% 0;
}

.progress-bar-wrapper > p {
    display: inline-block;
    color: white;
    margin: 0 1%;
}

#audio-controls button {
    background-color: inherit;
    border: none;
    width: 50px;
    height: 50px;
}

.disabled {
    opacity: 0.5;
}

#play-button img, #skip-back-button img, #skip-forward-button img {
    height: 80%;
}

@media screen and (max-width: 768px) {

    main {
        margin-top: 5rem;
    }

    #song-cover {
        width: 20rem;
        margin-bottom: 1rem;
    }

    .song-data > * {
        font-size: 1.5rem;
    }

    .progress-bar-wrapper {
        margin: 1rem 0;
    }

    #current-time-label, #missing-time-label {
        font-size: 1.25rem;
    }

    #audio-progress-bar {
        width: 50%;
    }

}