main {
    text-align: left;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

#cover-image {
    border-radius: 5%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.playlist-details {
    vertical-align: middle;
    margin: 0;
}

#title {
    font-size: 2.5rem;
    margin: 0.5rem 0 0 0;
}

#author {
    font-size: 1.5rem;
    opacity: 0.8;
    margin: 0.75rem 0;
}

#date-and-length {
    font-size: 1rem;
    opacity: 0.6;
    margin: 0.75rem 0;
}

#controls {
    padding: 0.5rem 0;
}

#play-button > img {
    height: 2rem;
    width: auto;
}

#controls > a {
    background-color: inherit;
    margin-right: 0.5rem;
    vertical-align: middle;
}

#shuffle-button, #add-track-to-playlist-button {
    color: #E28AB9;
}

hr {
    width: 90%;
    opacity: 0.5;
    margin: 1rem 0;
}

#tracklist a {
    text-decoration: none;
    background-color: inherit;
}

.row {
    display: block;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.row:hover {
    background-color: #4A4A4A;
}

.tracklist-item {
    display: inline-block;
    vertical-align: middle;
}

.tracklist-item > * {
    display: table-cell;
}

.track-position, .track-length {
    text-align: center;
    width: 5rem;
    vertical-align: middle;
}

.track-details {
    width: 25rem;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.track-details > * {
    display: block;
}

.author {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.track-options {
    display: inline-block;
    width: 5rem;
    text-align: right;
    vertical-align: middle;
    visibility: hidden;
}

.remove-track-button {
    width: 1rem;
}

@media screen and (max-width: 1024px) {

    .track-options {
        opacity: 0.7;
        visibility: visible;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    main {
        padding-left: 2rem;
    }

    .track-details {
        width: 15rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        padding: 1.5rem 2rem 0 5rem;
    }

    .track-position, .track-length {
        width: 4rem;
    }

    .track-options {
        width: 4rem;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {

    main {
        padding: 5rem 2rem 0 2rem;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .track-position, .track-length {
        width: 4rem;
        opacity: 0.8;
    }

    .track-details {
        width: 15rem;
    }

}

@media screen and (max-width: 576px) {

    main {
        padding: 5rem 1rem 0 1rem;
    }

}

@media screen and (min-width: 400px) and (max-width: 576px) {

    .track-position {
        width: 4rem;
    }

    .track-details {
        width: 11rem;
    }

    .track-options {
        text-align: center;
    }

    .track-length {
        width: 4rem;
    }

}

@media screen and (max-width: 400px) {

    .track-position {
        width: 3rem;
    }

    .track-details {
        width: 8.5rem;
    }

    .track-options {
        text-align: center;
    }

    .track-length {
        width: 3rem;
    }

}

@media screen and (max-width: 768px) {

    #playlist-header {
        padding: 0 0.5rem;
    }

    hr {
        width: 100%;
    }

    .track-options {
        width: 3rem;
    }

    .track-options em {
        font-size: 1.5rem;
    }

}
