.redirect {
    text-decoration: none;
}

article{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #4A4A4A;
    margin: 0.5rem;
    padding: 1rem;
    justify-content: flex-start;
    width: 100%;
}

.imgSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgSection footer {
    display: flex;
    font-size: 0.5rem;
    flex-direction: row;
    margin-top: 1rem;
}

.imgSection footer em {
    opacity: 0.7;
    margin: 0 0.15rem;
}

.imgSection footer em.selected {
    font-size: 0.6rem;
    opacity: 1;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.imgContainer img {
    height: 20%;
    width: 20%;
    object-fit: contain;
    margin: 0;
    opacity: 0.7;
    overflow: hidden;
}

.imgContainer img:first-of-type.selected {
    margin-left: 15rem;
}

.imgContainer img:last-of-type.selected {
    margin-right: 15rem;
}

img.selected {
    height: 24rem;
    width: 30rem;
    opacity: 1;
    margin: 0 1rem;
}

.open-focus:hover {
    cursor: pointer;
}

.profile-picture {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    object-fit: cover;
}

h2.user-info {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    margin: 0;
    column-gap: 0.5rem;
}

article > p {
    text-align: left;
    font-size: 1.2rem;
    color: #fff;
    margin: 1.5rem 0 1.5rem 0.5rem;
}

.music-box {
    display: flex;
    flex-direction: row;
    background-color: #E28AB9;
    padding: 1rem;
    align-items: center;
    border-radius: 18px;
    box-shadow: 0 4px 9px #222;
}

section>a>p, section>p  {
    font-size: 12px;
    padding: 0;
    margin: 0 0;
}

.song {
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin: 0 8px 0 0;
}

.music-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.music-box>a {
    align-self: center;
    margin-left: auto;
}

.music-info > header {
    font-size: 1.2rem;
}

.music-info p {
    font-size: 1rem;
}

.music-info strong, .music-info > a > p, .music-info > p {
    color: black;
}

.playlistSection {
    background-color: #E28AB9;
    width: fit-content;
    align-self: center;
    border-radius: 2rem;
    overflow: hidden;
}

.playlistSection a{
    margin: 0;
}

.playlistSection img {
    width: 15rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.playlistSection div{
    margin-bottom: 2rem;
}

.playlistSection div h3, .playlistSection div p {
    color: black;
    text-align: left;
    margin: 0 1rem;
}

.author {
    font-weight: bold;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.playlist-info a {
    text-decoration: none;
}

.playlist-info h2 {
    color: black;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
    text-align: left;
}

.playlist-info p, .playlist-info a {
    color: black;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.playlistSection div h3{
    font-size: 1.5rem;
}

.post-interaction {
    padding-top: 1rem;
    display: flex;
    justify-content: end;
}

.post-interaction>a {
    margin: 0;
    padding: 0;
}

.post-interaction>em {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin-right: 0.25rem;
}

.post-interaction>em:hover{
    cursor: pointer;
}

em.fa-heart{
    color: #E91E63;
}

.fa-play {
    color: #000;
    font-size: 28px;
    margin-right: 1rem;
}

@media screen and (max-width: 1200px) {

    article {
        width: 90%;
        margin-left: 1.5rem;
        margin-right: 1.25rem;
    }

}


@media screen and (max-width: 768px) {

    main {
        width: 100%;
    }

    article {
        align-self: center;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    .imgContainer img {
        display: none;
    }

    .imgContainer img:first-of-type.selected{
        margin-left: 0;
    }

    .imgContainer img:last-of-type.selected{
        margin-right: 0;
    }

    img.selected{
        display: block;
        width: 90%;
        height: 15rem;
        margin: 0;
    }
}
