article{
    display: flex;
    flex-direction: column;
    background-color: #4A4A4A;
    margin: 0.5rem;
    padding: 1rem;
    justify-content: flex-start;
}

.open-focus:hover {
    cursor: pointer;
}

.profile-picture {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    object-fit: cover;
}

h1.user-info {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    margin: 0;
    column-gap: 0.5rem;
}

article > p {
    text-align: left;
    font-size: 1em;
    color: #fff;
    padding: 1rem;
}

.music-box {
    display: flex;
    flex-direction: row;
    background-color: #E28AB9;
    padding: 1rem;
    align-items: center;
    border-radius: 18px;
    box-shadow: 0 4px 9px #222;
}

section>p {
    font-size: 12px;
    padding: 0;
    margin: 0 0;
}

.song {
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin: 0 8px 0 0;
}

.music-info {
    display: flex;
    flex-direction: column;
    text-align: left
}

.music-box>a {
    align-self: center;
    margin-left: auto;
}

.music-info > header {
    font-size: 13px;
}

.music-info strong, .music-info > p {
    color: black;
}

/*This part deals with the css for the playlist view*/
.playlist-box {
    display: flex;
    flex-direction: column;
    min-height: 0rem;
    max-height: 100%;
    min-width: 0rem;
    max-width: 100%;
    align-items: center;
    border-radius: 18px;
    box-shadow: 0 4px 9px #222;
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.inner-playlist-box {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: auto auto auto;
}

.playlist {
    width: 100%;
    object-fit: cover;
    height: auto;
    aspect-ratio: 1 / 1;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 18px 18px 0 0;
}

.inner-playlist-box > .music-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: rgba(255, 255, 255, 75%);
    align-self: end;
    padding: 0.5rem 0.1rem;
}

.tracklist-section {
    width: -webkit-fill-available;
    height: 9rem;
    display: flex;
    flex-direction: column;
}

.tracklist {
    width: 100%;
    list-style: decimal;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.3rem 0;
    overflow-y: scroll;
}

li.single-track {
    display: flex;
    flex-direction: row;
    margin: 0.1rem;
}


.post-interaction {
    padding-top: 0.5rem;
    display: flex;
    justify-content: end;
}

.post-interaction>a {
    margin: 0;
    padding: 0;
}

.post-interaction>em {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.post-interaction>em:hover{
    cursor: pointer;
}

em.fa-heart{
    color: #E91E63;
}

.fa-play {
    color: #000;
    font-size: 28px;
}

