ul{
    list-style: none;
}

header img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5rem;
    margin-bottom: 0;
}

header h2{
    font-size: 2rem;
    margin-top: 0.2rem;
    text-align: center;
}

.section-header {
    width: 100%;
    text-align: left;

}

.section-title {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.show-all-btn-container {
    display: inline-block;
    width: 35%;
    text-align: right;
}

.show-all-btn-container > a {
    opacity: 0.7;
}

main > section {
    margin-top: 2rem;
}

main>section h3{
    text-align: left;
    margin-bottom: 0;
}

main > section > div {
    overflow-x: auto;
    white-space: nowrap;
    height: 10rem;
    text-align: left;
}

main>section a{
    text-decoration: none;
}

main>section article{
    display: inline-block;
    width: 9rem;
    height: 10rem;
    margin-left: 0;
    margin-right: 0;
}

main>section article img{
    display: block;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
}

main>section article h4 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    width: 7rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

article.post{
    background-color: #4A4A4A;
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}

article.post h4{
    margin-top: 0.5rem;
    margin-left: 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    width:100%;
}

article.post h4 img{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
}

article.post h4 p{
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

article.post>p{
    text-align: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

section.music-box{
    height: 6rem;
    width: 90%;
    margin-left: 5%;
    background-color: #E28AB9;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

section.music-box>*{
    margin-top: 0;
}

section.music-box img{
    height: 4rem;
    width: 4rem;
    border-radius: 0%;
}

section.music-box>section {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
    text-align: left;
}

section.music-box>section header{
    font-size: 1.3rem;
}

section.music-box>section p{
    margin: 0;
    font-size: 1rem;
}

section.music-box a{
    align-self: center;
    margin-left: auto;
    margin-right: 1rem;
}

section.music-box a em{
    font-size: 2rem;
    color: #000;
}

section.post-interaction{
    margin-top: 0.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

section.post-interaction a{
    margin-left: auto;
}
