ul{
    list-style: none;
}

header img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

header h2{
    font-size: 2rem;
    margin-top: 0.2rem;
    text-align: center;
}

#ProfileImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ProfileImage img.showEditButton{
    margin-left: 2.8rem;
}

#EditProfileImage{
    position: relative;
    right: 3rem;
    bottom: -6rem;
    background-color: #E28AB9;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 0.3rem solid #323232;
}

main {
    padding-bottom: 2rem;
}

.section-header {
    width: 100%;
    text-align: left;

}

.section-title {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.show-all-btn-container {
    display: inline-block;
    width: 35%;
    text-align: right;
}

.show-all-btn-container > a {
    opacity: 0.7;
}

#Counts {
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
}

#Counts > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
    flex: 1;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height:auto;
}

#Counts > div:first-child {
    border-left: none;
}

#Counts > div:last-child {
    border-right: none;
}

#Counts h3 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
}

#Counts p {
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

#Biography header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Biography header h3{
    margin-top: 0;
}

#Biography button, #Biography form input[type="submit"]{
    margin-left: auto;
    margin-right: 25%;
    color: black;
    background-color: #E28AB9;
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

#Biography p {
    text-align: left;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
    margin-top: 1rem;
}

#Biography form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25%;
}

#Biography form textarea{
    margin-top: 1rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1rem;
    padding-left: 0.5rem;
}

#Biography div{
    margin-top: 0.5rem;
}

#Biography form button, #Biography form input[type="submit"]{
    margin-right: 0;
}

main > section {
    margin-top: 1.5rem;
}

main > section p {
    text-align: left;
    margin-top: 2rem;
    opacity: 0.7;
}

main>section h3{
    text-align: left;
    margin-bottom: 0;
}

main > section > div {
    overflow-x: auto;
    white-space: nowrap;
    text-align: left;
}

main>section a{
    text-decoration: none;
}

main>section article{
    display: inline-block;
    width: 9rem;
    height: 10rem;
    margin-left: 0;
    margin-right: 0;
}

main>section article img{
    display: block;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
}

main>section article header {
    margin: 0.5rem 1rem 0;
    width: 7rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

main > section article h4 {
    overflow-wrap: break-word;
}

article.post{
    background-color: #4A4A4A;
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    padding-bottom: 0.3rem;
}

article.post header {
    margin-top: 0.5rem;
    margin-left: 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    width:100%;
}

article.post > .music-box > .music-info > header {
    padding: 0;
}

.music-info p{
    margin-top: 0;
}


article.post header img{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
}

article.post header h4 {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

article.post>p{
    text-align: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.music-box{
    height: 6rem;
    width: 90%;
    margin-left: 5%;
    background-color: #E28AB9;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.music-box>*{
    margin-top: 0;
}

.music-box img{
    height: 4rem;
    width: 4rem;
    border-radius: 0;
}

.music-box > .music-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
    text-align: left;
}

.music-box>section header{
    font-size: 1.3rem;
}

.music-box>section p{
    margin: 0;
    font-size: 1rem;
}

.music-box a{
    align-self: center;
    margin-left: auto;
    margin-right: 1rem;
}

.music-box a em{
    font-size: 2rem;
    color: #000;
}

.post-interaction{
    margin-top: 0.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.post-interaction a{
    margin-left: auto;
}

#follow-button {
    background-color: inherit;
    border-radius: 1rem;
    border-color: #098AFF;
    color: #098AFF;
    padding: 0.5rem 1rem;
}

#follow-button > em {
    margin-right: 0.5rem;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    main {
        padding-left: 2.5rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        padding-left: 4rem;
    }

}

@media screen and (max-width: 768px) {

    #Biography, #tracks-section, #albums-section, #playlists-section, #posts-section {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .section-title {
        width: 60%;
    }

    #Biography header button, #Biography form{
        margin-right: 0;
    }

}
