textarea {
    margin-top: 1rem;
    color: black;
    border-radius: 0.5rem;
}

textarea::placeholder {
    color: black;
}

input[type=file] {
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {

    textarea {
        width: 30%;
    }

}

@media screen and (min-width: 576px) and (max-width: 1024px) {

    textarea {
        width: 50%;
    }

}

@media screen and (max-width: 576px) {

    textarea {
        width: 70%;
    }

}

@media screen and (max-width: 768px) {

    textarea {
        margin-bottom: 1rem;
    }

    input[type=file] {
        display: block;
        text-align: center;
        margin: 1rem auto 0 auto;
    }

}