textarea {
    margin-top: 1rem;
    width: 30%;
    color: black;
    border-radius: 0.5rem;
}

textarea::placeholder {
    color: black;
}

input[type=file] {
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {

    textarea {
        width: 70%;
        margin-bottom: 1rem;
    }

    input[type=file] {
        display: block;
        text-align: center;
        margin: 1rem auto 0 auto;
    }

}