main{
    display: flex;
    flex-direction: column;
}

main>header{
    padding-top: 2rem;
    display: flex;
    align-items: center;
}

main>header img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

main>header h2{
    font-size: 3rem;
    margin-left: 1rem;
}

main>section>p {
    font-size: 1.3rem;
    text-align: left;
}

main a{
    text-decoration: none;
}

.imgSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgSection footer{
    display: flex;
    font-size: 0.5rem;
    flex-direction: row;
}

.imgSection footer em{
    opacity: 0.7;
    margin: 0 0.15rem;
}

.imgSection footer em.selected{
    font-size: 0.6rem;
    opacity: 1;
}

.imgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imgContainer img{
    height: 12rem;
    width: 15rem;
    object-fit: contain;
    margin: 0;
    opacity: 0.7;
}
.imgContainer img:first-of-type.selected{
    margin-left: 15rem;
}

.imgContainer img:last-of-type.selected{
    margin-right: 15rem;
}

img.selected{
    height: 24rem;
    width: 30rem;
    opacity: 1;
    margin: 0 1rem;
}

.trackSection{
    height: 6rem;
    background-color: #E28AB9;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.trackSection img{
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    margin-left: 1rem;
}

.trackSection header{
    flex-direction: column;
    margin-left: 1rem;
}

.trackSection header>*{
    margin: 0;
    text-align: left;
}

.playlistSection{
    background-color: #E28AB9;
    width: fit-content;
    align-self: center;
    border-radius: 2rem;
    overflow: hidden;
}

.playlistSection a{
    margin: 0;
}

.playlistSection img{
    width: 30rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.playlistSection div{
    margin-bottom: 2rem;
}

.playlistSection div h3, .playlistSection div p{
    color: black;
    text-align: left;
    margin: 0 1rem;
}

.playlistSection div a{
    color: black;
}

.playlistSection div h3{
    font-size: 1.5rem;
}

div.likeContainer{
    text-align: right;
}

div.likeContainer em{
    font-size: 1.5rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}

#like {
    color: #E91E63;
}

#commentForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

#commentForm label{
    display: none;
}

#commentForm textarea{
    background-color: transparent;
    border: solid white 2px;
    border-radius: 1rem;
    width: 17rem;
    padding: 1rem;
    font-size: 1rem;
}

#commentForm button{
    margin-left: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
}

article.comment{
    border:white solid 2px;
    border-radius: 1rem;
    background-color: #4A4A4A;
    margin-top: 1rem;
}

article.comment header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

article.comment header a{
    height: 2rem;
}

article.comment header img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

article.comment p{
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    word-break: break-all;
    text-align: left;
}

article.comment footer p{
    opacity: 0.7;
    font-size: 1rem;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .imgContainer img{
        display: none;
    }
    .imgContainer img:first-of-type.selected{
        margin-left: 0;
    }
    .imgContainer img:last-of-type.selected{
        margin-right: 0;
    }
    img.selected{
        display: block;
        width: 90%;
        height: 15rem;
        margin: 0;
    }

    .playlistSection{
        width: 90%
    }

    .playlistSection img{
        width: 100%
    }
}