body>main{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

body>main>header{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

body>main>header img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

body>main>header h2{
    font-size: 3rem;
    margin-left: 1rem;
}

body>main>section>p {
    font-size: 1.3rem;
    text-align: left;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

body>main a{
    text-decoration: none;
}

.imgSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgSection footer {
    display: flex;
    font-size: 0.5rem;
    flex-direction: row;
    margin-top: 1rem;
}

.imgSection footer em{
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0.15rem;
}

.imgSection footer em.selected {
    font-size: 0.6rem;
    color: white;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imgContainer .previous, .imgContainer .next{
    font-size: 3rem;
}

.imgContainer .previous{
    margin-right: 0.5rem;
}

.imgContainer .next{
    margin-left: 0.5rem;
}

.imgContainer img{
    display: none;
    height: 12rem;
    width: 15rem;
    object-fit: contain;
    margin: 0;
    
}

.imgContainer img.selected{
    display: block;
    width: 80%;
    margin: 0;
}

.imgContainer{
    margin-bottom: 0.5rem;
    width: 100%;
}

hr {
    width: 80%;
    opacity: 0.5;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.trackSection {
    height: 6rem;
    width: 80%;
    align-self: center;
    background-color: #E28AB9;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.trackSection img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    margin-left: 1rem;
}

.trackSection header {
    flex-direction: column;
    margin-left: 1rem;
}

.trackSection header * {
    margin: 0;
    text-align: left;
    color:black;
}

.trackSection header h3 {
    font-size: 1.3rem;
}

.trackSection > a {
    margin-left: auto;
    margin-right: 1rem;
}

.trackSection > a em {
    color: black;
    font-size: 2rem;
}

.playlistSection{
    background-color: #E28AB9;
    width: 90%;
    align-self: center;
    border-radius: 2rem;
    overflow: hidden;
}

.playlistSection a{
    margin: 0;
}

.playlistSection img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.playlistSection div{
    margin-bottom: 2rem;
}

.playlistSection div h3, .playlistSection div p {
    color: black;
    text-align: left;
    margin: 0 1rem;
}

.author {
    font-weight: bold;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.playlistSection div a{
    color: black;
}

.playlistSection div h3{
    font-size: 1.5rem;
}

div.likeContainer{
    text-align: right;
}

.bottom-container {
    width: 80%;
    align-self: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

div.likeContainer em{
    font-size: 1.5rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}

#like {
    color: #E91E63;
}

#commentFormContainer main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

#commentFormContainer main img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

#commentForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#commentForm label{
    display: none;
}

#commentForm textarea{
    background-color: transparent;
    border: solid white 2px;
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}

#commentForm button{
    margin-left: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
}

article.comment{
    border:white solid 2px;
    border-radius: 1rem;
    background-color: #4A4A4A;
    margin-top: 1rem;
}

article.comment header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

article.comment header a{
    height: 2rem;
}

article.comment header img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

article.comment p{
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    word-break: break-all;
    text-align: left;
}

article.comment footer p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    text-align: right;
}

@media (pointer: fine) {
    .imgContainer img:first-of-type.selected{
        margin-left: 2.39rem;
    }

    .imgContainer img:last-of-type.selected{
        margin-right: 2.39rem;
    }
}

@media screen and (min-width: 769px) {

    .imgContainer img{
        display: block;
        opacity: 0.7;
    }
    
    .imgContainer img.selected{
        height: 24rem;
        width: 30rem;
        opacity: 1;
        margin: 0 1rem;
    }
    
    .imgContainer img:first-of-type.selected{
        margin-left: 15rem;
    }
    
    .imgContainer img:last-of-type.selected{
        margin-right: 15rem;
    }
    
    .playlistSection{
        width: fit-content;    
    }
    
    .playlistSection img{
        width: 30rem;
    } 

}

