html {
    height: 100%;
}

body {
    background-color: #323232;
    height: inherit;
    margin: 0;
    box-sizing: border-box;
}

nav {
    float: left;
    height: inherit;
    width: 20%;
    background-color: #4A4A4A;
}

nav ul {
    list-style: none;
    height: inherit;
    padding: 0 5%;
}

nav img {
    height: 7%;
    padding: 5% 0 0 5%;
}

nav li {
    height: 5%;
    padding: 2%;
}

nav a {
    color: white;
    text-decoration: none;
}

nav em {
    color: white;
    margin: 0 5% 0 0;
}

main {
    text-align: center;
    width: 80%;
    margin-left: 15%;
}

#song-cover {
    margin: 5% 0 1% 0;
}

#song-title, #artist-name {
    display: block;
    color: white;
}

.progress-bar-wrapper {
    display: block;
    margin: 1% 0;
}

.progress-bar-wrapper > p {
    display: inline-block;
    color: white;
    margin: 0 1%;
}

#audio-controls > button {
    background-color: inherit;
    border: none;
    width: 50px;
    height: 50px;
}

#play-button > img, #skip-back-button > img, #skip-forward-button > img {
    height: 80%;
}
