body {
    background-color: #323232;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #975AA8;
    padding: 10px;
}

nav > a > i {
    color: #000000;
}

main {
    text-align: center;
}

img#song-cover {
    margin: 5% 0 1% 0;
}

#song-title, #artist-name {
    display: block;
    color: white;
}

.progress-bar-wrapper {
    display: block;
    margin: 1% 0;
}

.progress-bar-wrapper > p {
    display: inline-block;
    color: white;
    margin: 0 1%;
}

#audio-controls > button {
    background-color: inherit;
    border: none;
    width: 50px;
    height: 50px;
}

#play-button > img, #skip-back-button > img, #skip-forward-button > img {
    height: 80%;
}
