html {
    height: 100%;
}

body {
    background-color: #323232;
    height: inherit;
    margin: 0;
    box-sizing: border-box;
}

nav {
    float: left;
    height: inherit;
    width: 20%;
    background-color: #4A4A4A;
}

nav ul {
    list-style: none;
    height: inherit;
    padding: 0 5%;
}

nav img {
    height: 7%;
    padding: 5% 5% 0 5%;
}

nav li {
    height: 5%;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5% 0;
    padding: 4% 2% 5% 2%;
}

nav p {
    display: inline;
}

nav a:hover {
    background-color: #A2A2A2;
    color: black;
}

nav em {
    color: white;
    margin: 0 5% 0 0;
}

header {
    padding: 1% 21%;
}

header em {
    color: white;
    margin: 0 0 0 3px;
}

header label {
    font-size: 0;
}

header input {
    border-radius: 10px;
}

header input[type=search] {
    padding: 3px;
    margin: 0 3px;
}

header input[type=submit] {
    padding: 3px 10px;
    margin: 0 3px 0 0;
}

main {
    text-align: center;
    width: 80%;
    margin-left: 20%;
}

#song-cover {
    margin: 5% 0 1% 0;
}

#song-title, #artist-name {
    display: block;
    color: white;
}

.progress-bar-wrapper {
    display: block;
    margin: 1% 0;
}

.progress-bar-wrapper > p {
    display: inline-block;
    color: white;
    margin: 0 1%;
}

#audio-controls > button {
    background-color: inherit;
    border: none;
    width: 50px;
    height: 50px;
}

#play-button > img, #skip-back-button > img, #skip-forward-button > img {
    height: 80%;
}

@media screen and (max-width: 768px) {

    nav {
        width: 15%;
        text-align: center;
    }

    nav img {
        height: initial;
        width: 70%;
        max-width: 60px;
        padding-top: 10%;
    }

    nav ul {
        text-align: center;
    }

    nav p {
        font-size: 0;
    }

    main {
        width: 85%;
        margin-left: 15%;
    }

}